@font-face {
    font-family: "geo-mtav";
    src: url('../../public/G_Bauhm.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'geo-bauhaus-mtavr-regular', sans-serif;
}

.error {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 11px;
    width: 0%;
    transition: 0.3s;
}

.active-error {
    text-align: center;
    background-color: rgb(216, 14, 14);
    color: white;
    width: 250px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 11px;
}

// .active-error {
//     border: 5px solid green;
//     width: 200px;
//     transition: 0.3s;
// }

body {
    height: 100vh;
    background: linear-gradient(180deg, #57C5B6 32.81%, #159895 100%);
}

.links {
    font-size: 15px;
}

.list-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 250px;
    margin: 0 auto;
    height: 100vh;
    input {
        background: #002B5B;
        border: 0;
        outline: 0;
        color: white;
        padding: 20px 0;
        padding-left: 10px;
        width: 100%;
        border-radius: 5px;
        transition: 0.3s;

        &::placeholder {
            padding-left: 0px;
            color: rgba(255, 255, 255, 0.37);
        }

        &:focus {
            transform: scale(1.1);
        }
    }

    button {
        background: #FF8400;
        border: 0;
        color: white;
        border-radius: 20px;
        outline: 0;
        padding: 5px 15px;
        width: fit-content;
        cursor: pointer;
        font-size: 15px;
    }

}